/* header */
h1{
  text-align: center;
}

/* section */
section{
  text-align: center;
}
ul{
  list-style-type: none;
}




/* button */
.button{
 
  background-color: rgb(17, 105, 213);
  color: white;
  width: 80px;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  cursor: pointer;
 user-select: none;
}
.button:hover{
  opacity: 0.8;
}
.button1{
 
  background-color: rgb(218, 62, 27);
  color: white;
  width: 80px;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  cursor: pointer;
 user-select: none;
}
.button1:hover{
  opacity: 0.8;
}
.button2{
 
  background-color: rgb(223, 83, 207);
  color: white;
  width: 80px;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  cursor: pointer;
 user-select: none;
}
.button2:hover{
  opacity: 0.8;
}